* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #101213;
    background-image: url('https://i.imgur.com/tKeXlkM.png');
    background-repeat: no-repeat;
}

.connect-button:hover {

    background-color: linear-gradient(0deg, rgba(103, 191, 13, 1) 0%, rgba(203, 219, 46, 1) 100%);
    color: white;

}

.select-container {
    padding: 0;
    display: inline-block;
}

.pipeline-panel{

    position: absolute;
    width: 315px;
    height: 140px;
    left: 1573px;
    top: 647px;
    background-color: transparent;

}

#pipe0,#pipe1,#pipe2,#pipe3,#pipe4,
#pipe5,#pipe6,#pipe7,#pipe8,#pipe9{
    position: relative;
    width:55px;
    height: 55px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #101213;
    color: white;
    top: -10px;
    border: 3px solid rgba(103, 191, 13, 1);
    font-family: 'Montserrat';
    font-size: 22px;
}

#pipe5,#pipe6,#pipe7,#pipe8,#pipe9{top:-5px}

#pipe0{
    color:white;
    background-color: #50940A;
}

#tX-value,#tY-value{
    position: absolute;
    font-family: 'Montserrat';
    font-size: 40px;
    color: rgba(103, 191, 13, 1);
    text-align: center;
    margin: 0;
    padding: 0;
    left:0px;
    top:7px;
    width: 100%;
}

#tY-value{
    left:85px;
}
#tX-value{
    left:-100px;
}

.targeting-panel{
    position: absolute;
    width: 330px;
    height: 60px;
    left:1210px;
    top:600px;
    background-color: transparent;
}


select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}

input[type="text"],
input[type="number"] {
    cursor: text;
}

input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

/* Major interface panes, aside, article, header, etc. */
body>* {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #101213;
}

svg * {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    overflow: visible;
}

aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}

aside>* {
    margin-bottom: 20px;
}

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

body.login #login {
    display: flex;
}

#login :disabled {
    opacity: 0.6;
}

#login>* {
    height: 40px;
}

#login>button {
    margin-left: 5px;
}




#connect-button {
    position: absolute;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg, rgba(103, 191, 13, 1) 0%, rgba(203, 219, 46, 1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: -300px 0px 0px #101213 inset, 0 7px #101213;
    left: 106px;
    top: 47px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75rem;
    line-height: 0px;
    text-align: center;
    outline: 0px;
}

#connect-button:hover {

    box-shadow: -300px 0px 0px #101213 inset, 0px 7px #101213;
  
}
  
#connect-button:active {
  
    box-shadow: -300px 0px 0px #101213 inset, 0px 5px #101213;
    transform: translateY(4px);
  
  
}

#robot-state {

    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 4px;

}
